pip~=25.0.1
requests~=2.32.3
beautifulsoup4~=4.13.3
soupsieve~=2.6
packaging~=24.2
certifi~=2025.1.31
urllib3~=2.4.0
idna~=3.10
charset-normalizer~=3.4.1
pyflakes~=3.2.0
typing_extensions~=4.13.2